*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

$-Dark-cyan: hsl(158, 36%, 37%);
$-Cream: hsl(30, 38%, 92%);

// ### Neutral

$-Very-dark-blue: hsl(212, 21%, 14%);
$-Dark-grayish-blue: hsl(228, 12%, 48%);
$-White: hsl(0, 0%, 100%);


// border-radius
$-border-radius: 0.8rem;


// info-margin
$-info-margin: 3.2rem;

// Font family
// monserat
$-montserrat:'Montserrat', sans-serif;

//Fraunces
$-fraunces:'Fraunces', serif;

body{
  background-color: $-Cream;
}

#card{
  display: flex;
  max-width: 60rem;
  max-height: 45rem;
  position: relative;
  background-color: $-Cream;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  border-radius: $-border-radius;
}

#image-product-desktop{
  max-width: 30rem;
  max-height: 45rem;
  border-top-left-radius: $-border-radius;
  border-bottom-left-radius: $-border-radius;
}
#image-product-mobile{
  visibility: hidden;
  width: 34.3rem;
  height: 24rem;
}

#light{
font-family: 'Montserrat';
font-size: 1.2rem;
font-weight: 500;
line-height: 1.5rem;
color: $-Dark-grayish-blue;
letter-spacing: .5rem;
text-transform: uppercase;
margin-left: $-info-margin;
margin-top: 3.2rem;
}

h1{
font-family: 'Fraunces' 7.2rem;
font-size: 3.2rem;
font-weight: 700;
line-height: 3.2rem;
letter-spacing: 0rem;
text-align: left;
margin-left: $-info-margin;
margin-top: 2rem;
max-width: 29.5rem;

}
#info{
font-family: 'Montserrat';
font-size: 1.4rem;
font-weight: 500;
line-height: 2.3rem;
letter-spacing: 0rem;
text-align: left;
color: $-Dark-grayish-blue;
margin-left: $-info-margin;
margin-top: 2.4rem;
max-width: 24.5rem;

}

#discount{
font-family: 'Fraunces';
font-size: 3.2rem;
font-weight: 700;
line-height: 3.2rem;
letter-spacing: 0rem;
text-align: left;
color: $-Dark-cyan;
margin-left: $-info-margin;
margin-top: 2.9rem;

}

#old-price{
font-family: 'Montserrat';
font-size: 1.3rem;
font-weight: 500;
line-height: 2.3rem;
letter-spacing: 0rem;
text-align: left;
color: $-Dark-grayish-blue;
margin-top: 3.4rem;
text-decoration: line-through;
margin-left: 2rem;
}

button{
width: 23.6rem;
height: 4.8rem;
left: 33.2rem;
top: 37rem;
background-color: $-Dark-cyan;
color: $-White;
font-family: 'Montserrat';
font-size: 1.4rem;
font-weight: 700;
line-height: 1.7rem;
letter-spacing: 0rem;
border: none;
border-radius: 0.8rem;
margin-left: $-info-margin;
margin-top: 4rem;
display: flex;
align-items: center;

#button-text{
font-family: 'Montserrat';
font-size: 1.4rem;
font-weight: 700;
line-height: 1.7rem;
letter-spacing: 0px;
text-align: left;
color: hsla(0, 0%, 100%, 1);
}
img{
  margin-left: 6rem;
}
p{
  margin-left: 1.5rem;
}
}

#right{
  background-color: $-White;
  border-top-right-radius: $-border-radius;
  border-bottom-right-radius: $-border-radius;
  min-width: 30.3rem;
}

#price{
  display: flex;
}
@media screen and (max-width: 375px) {
  #card{
    display: flex;
    flex-direction: column;
    margin-top: -9.1rem;
  }
  #image-product-desktop{
    border-top-left-radius: $-border-radius;
    border-top-right-radius: $-border-radius;
    border-bottom-left-radius: 0;
  }
  #right{
    width: 34.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: $-border-radius;
    border-bottom-left-radius: $-border-radius;
    margin-left: 1.6rem;
    padding-bottom: 3rem;
  }
  #image-product-desktop{
    visibility: hidden;
    height: 0;
  }
  #image-product-mobile{
    visibility: visible;
    margin-left: 1.6rem;
  }
  
}



